:root {
  --font-primary: "Space Mono", sans-serif;
  --font-secondary: "Inconsolata", sans-serif;
  --font-tertiary: "Montserrat";
  --color-white: #fff;
  --color-primary: #333;
  --color-secondary: #4f4f4f; }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 43.75em) {
    html {
      font-size: 34%; } }
  @media only screen and (max-width: 25em) {
    html {
      font-size: 45%; } }

.container {
  background-color: var(--color-white);
  border-radius: 12px;
  box-shadow: 0 2px 24rem rgba(0, 0, 0, 0.1);
  padding: 4rem 7.7rem;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: min-content 1fr min-content 1fr min-content;
  gap: 3rem; }
  @media only screen and (max-width: 50em) {
    .container {
      padding: 2rem 3.5rem;
      gap: 1.5rem; } }
  @media only screen and (max-width: 25em) {
    .container {
      grid-template-rows: min-content; } }
  .container__heading-primary {
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.5rem;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    grid-column: 1 / -1;
    align-self: start;
    color: var(--color-primary); }
  .container__img {
    width: 100%;
    grid-row: 3 / 4;
    grid-column: 1 / 3; }
    @media only screen and (max-width: 43.75em) {
      .container__img {
        grid-row: 2 / 3;
        grid-column: 1 / -1;
        justify-self: center; } }
    @media only screen and (max-width: 25em) {
      .container__img {
        margin-top: 5rem; } }
  .container__heading-secondary {
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 6.4rem;
    line-height: 9.5rem;
    letter-spacing: -0.035em;
    grid-column: 1 / 3; }
  .container__details {
    grid-row: 3 / 4;
    grid-column: 3 / 5;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: repeat(3, min-content);
    row-gap: 5rem; }
    @media only screen and (max-width: 50em) {
      .container__details {
        row-gap: 2.5rem; } }
    @media only screen and (max-width: 43.75em) {
      .container__details {
        grid-column: 1 / -1;
        grid-template-columns: none;
        justify-items: center;
        text-align: center; } }
    @media only screen and (max-width: 25em) {
      .container__details {
        justify-items: start;
        text-align: unset;
        row-gap: 5rem; } }
  .container__text {
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 3.6rem;
    letter-spacing: -0.035em;
    grid-column: 1 / 2; }
  .container__btn {
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 1.4rem;
    color: var(--color-white);
    line-height: 2.1rem;
    letter-spacing: -0.035em;
    text-transform: uppercase;
    border: none;
    border-radius: 0;
    background-color: var(--color-primary);
    padding: 2rem 4rem;
    grid-column: 1 / 2;
    justify-self: start; }
    @media only screen and (max-width: 43.75em) {
      .container__btn {
        justify-self: unset; } }
    @media only screen and (max-width: 25em) {
      .container__btn {
        width: 70%; } }
  .container__copyright {
    font-family: var(--font-tertiary);
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.6rem;
    grid-column: 1 / -1;
    grid-row: 5 / 6;
    justify-self: center;
    align-self: center; }
